.bgImage{
    width: 100%;
    height: calc(100vh - 8rem);
    background: url('https://www.kindpng.com/picc/m/135-1359812_xbox-controller-the-real-price-of-every-major.png');
    background-size: cover;

}